.container {
    margin-left: 16.25rem;
    margin-right: 1.7rem;
}

table {
    width: 100%;
}

.get-data {
    padding: 10px;
    background-color: black;
    color: white;
    text-decoration: none;
}

.get-data:hover {
    background-color: gray;

}

/* Label styling */
label {
    font-size: 24px;
    color: #333;
    margin-bottom: 8px;
    margin-left: 20px;
    margin-right: 20px;
  }
  
#submit-date-btn {
  color: white;
    background: black;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin: 0px 20px;
    width: 100px;
}

#submit-date-btn:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, .7);
}