<div class="sidenav">
    <div class="logo">
        <h2 class="title">Council Data Hub</h2>
    </div>
    <div class="search-section">
        <p class="search">search</p>
    </div>
    <div class="subtitle">
        <p>Councils</p>
    </div>
      <div class="service-link" (click)="onClick('richmond')">Richmond</div>
      <div class="service-link" (click)="onClick('epsom')">Epsom</div>
      <div class="service-link" (click)="onClick('kingston')">Kingston</div>
      <div class="service-link" (click)="onClick('southwark')">Southwark</div>
      <div class="service-link" (click)="onClick('woking')">Woking</div>
      <div class="service-link" (click)="onClick('lambeth')">Lambeth</div>
      <div class="service-link" (click)="onClick('hl')">H&L</div>
      <div class="service-link" (click)="onClick('all')">all</div>
    <div class="http-response-buttons">
        <a href="#" class="logout-button">Logout</a>
    </div>
</div>